<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="MyConnection"    connectionString="Persist Security Info=False;Integrated Security=SSPI;database=sqlopsdb;server=cy1exlirmart4;"
       providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>